@import 'bootstrap/scss/bootstrap';
@import 'styles';
@import 'layouts/footer';
@import 'layouts/header';
@import 'layouts/navigation';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background-color: $white;
  color: #111;
}

body {
  display: flex;
  flex-direction: column;

}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1400px;
}

.form-select-custom {
  background-image:
    linear-gradient(45deg, transparent 50%, #999 50%),
    linear-gradient(135deg, #999 50%, transparent 50%),
    linear-gradient(to right, #bbb, #bbb);   

  background-position:
    calc(100% - 10px) center,
    calc(100% - 5px) center,
    calc(100% - 1.5em) center;

  background-size:
    5px 5px,
    5px 5px,
    0px 1.5em;

  background-repeat: no-repeat;
  padding-right: 0.3em;
  color: $light-gray;
}
